<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <title>Spoiled Veggies</title>
</head>

<body id="landing">

    <div class="landing">
        <div class="jumbotron">
            <h1>Spoiled Veggies</h1>
            <p>A user driven platform for movie reviews</p>
            
        </div>

        <div class="landingButton">
            <a class="btn btn-primary btn-lg" href="blogs" type="button">Take a look</a>
        </div>
    </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>