<% include ./partials/header %>

    <div class="auth ui main text container segment">
        <div class="ui huge header">Sign-up</div>
        <form class="ui form" action="/register" method="POST">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="password">
                <button class="ui primary big button" type="submit">Register</button>
            </div>

        </form>

    </div>

    <% include ./partials/footer %>