body {
    background-image: url(/stylesheets/lloyd-dirks-74271.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    
}


.jumbotron{
    margin-bottom: 30px;
    color: white;
    background-color:black;
    
}



.ui.items > .item > .image:not(.ui){
    width:275px;
}

.ui[class*="top attached"].segment {
    bottom: 0px;
    margin-bottom: 0em;
    top: 0px;
    margin-top: 5rem;
    border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}

i.icon {
    font-size: 2.5em;
    color:white;
    margin: 0em .25em 0em .5em;
}

#delete{
    display: inline;
}
