body {
    background-image: url(/stylesheets/images/lloyd-dirks-74271.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    
}


.btn{
    line-height: 1;
}

/*nav bar styling*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}


.jumbotron{
    margin-bottom: 30px;
    color: white;
    background-color:black;
    text-align: center;
    
}

/*styling for movie title on show*/
.ui.huge.header {
    min-height: 1em;
    font-size: 3em;
    text-align: center;
}


image styling
.ui.items > .item > .image:not(.ui){
    width:275px;
}

.ui[class*="top attached"].segment {
    bottom: 0px;
    margin-bottom: 0em;
    top: 0px;
    margin-top: 2rem;
    border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}

i.icon {
    font-size: 2.5em;
    color:white;
    margin: 0em .25em 0em .5em;
}

/*image styling*/
.ui.items > .item > .image:not(.ui) {
    width: 350px;
}

/*styling for title of blog post*/
.ui.items > .item > .content > .header:not(.ui) {
    font-size: 2.285714em;
    color: #BF0000;
}

/*styling for txt of blog post on index page*/
.ui.items > .item > .content > .description {
    margin-top: 0.6em;
    max-width: auto;
    font-size: 2em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
}

/*styling for read more button*/
.ui.buttons .button, .ui.buttons .or, .ui.button {
    font-size: 1.4rem;
}


/*styling for date of post*/
ui.items > .item .meta {
    margin: 2.5em 0em 0.5em;
    font-size: 0.5em;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.6);
}

.ui.items > .item .meta :last-child {
    font-size: 14px;
    margin-right: 0em;
}

/*New post styling for title, image and post*/
.ui.form .field > label {
    display: block;
    margin: 0em 0em 0.28571429rem 0em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.928571em;
    font-weight: bold;
    text-transform: none;
}

/*styling for show page blog content*/
.description{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size:20px;
}

#delete{
    display: inline;
}

@media (min-width: 768px){

.navbar-right {
    float: right!important;
    margin-right: 17px;
}
}